* {
	box-sizing: border-box;
}

html {
	margin: 0;
	height: 100%;
}

body {
	font-family: Arial, Verdana, Sans-serif;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	/*padding-left: 10%;
	padding-right: 10%;*/
}

img {
	vertical-align: middle;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

.top-nav-logo-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*border: 1px solid black;*/
}

.top-nav-logo-main {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	/*border: 1px solid black;*/
}

.top-logo-main {
	/*border: 1px solid black;*/
	height: 90px;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	padding-left: 10px;
}

.top-nav-main {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.top-nav-label-main {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	cursor: pointer;
	transition: 0.4s;
}

.top-nav-label-main:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #f2f2f2;
}

.top-nav-logo-alt {
	position: fixed;
	z-index: 150;
	width: 100%;
	display: inline;
	/*border: 1px solid black;*/
	top: -100px;
	background: #e6e6e6;
	transition: top 0.3s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.top-logo-alt {
	float: left;
	padding-left: 15px;
	padding-top: 10px;
}

.top-nav-alt {
	float: right;
}

.top-nav-label-alt {
	float: left;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: 0.4s;
	cursor: pointer;
}

.top-nav-label-alt:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #f2f2f2;
}

.top-text-main {
	background: white;
	text-align: center;
	font-size: 14px;
}

.main-img-gal {
	display: none;
	height: 300px;
	width: 100%;
}

.main-img {
	width: 100%;
	height: 100%;
}

.gal-dot {
	padding-top: 10px;
	padding-bottom: 10px;
}

.main-img-gallery-wrapper {
	/*border: 1px solid black;*/
	width: 100%;
	position: relative;
	margin: auto;
}

.main-img-gal-text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade-img {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.content-wrapper {
	/*border: 1px solid black;*/
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.main-para {
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40%;
	text-align: center;
}

.main-para:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.avatar {
	vertical-align: middle;
	width: 75px;
	height:75px;
	border-radius: 50%;
}

.miniavatar {
	vertical-align: middle;
	width: 25px;
	height:25px;
	border-radius: 50%;
}

.project-btn {
    background-color: #f2f2f2;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	padding-left: 25px;
}

.resume {
	padding-left: 10%;
	padding-right: 10%;
}

.resume h2 {
	text-align: center;
}

.active, .project-btn:hover {
    background-color: #ccc;
}

.project-btn:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.project-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

input[type=text], email, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	padding-left: 10%;
	padding-right: 10%;
}

#contact-me {
	text-align: center;
}

@media screen and (max-width: 560px) {
	.top-nav-logo-alt {
		display: flex;
		flex-direction: column;
		justify-content: center;
		top: -150px;
	}
	.content-wrapper {
		padding: 20px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}
	.top-nav-main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.icon-bar {
		display: none;
	}
	.main-para {
		width: 100%;
	}
	.top-nav-label-alt {
		display: inline-block;
		float: none;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: 0.4s;
		cursor: pointer;
	}
	.top-logo-alt {
		float: none;
		text-align: center;
	}
	.top-nav-alt {
		float: none;
		text-align: center;
	}
	.main-img-gal {
		height: auto;
	}
}